header {
    height: 50px; 
    background-color: hsl(347, 94%, 27%);
    background-image: url("shark.jpg"); 
    
    nav a {
    font-size: 30px;
    color: white;
    margin-right: 20px;
    text-decoration: none;
}
   
}

body {
    background-image: url("ocean.jpg");
    background-color: rgb(224, 202, 245);
    background-repeat: no-repeat;
    background-size: cover;
}